html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
header {
  background-color:white;
  position: fixed;
  text-align: center;
  padding-block: 1em;
  /*this gives a little white line ------------*/
	width: 100%; 
	box-shadow: 0 11px 12px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: 0 11px 12px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 0 11px 12px rgba(0, 0, 0, 0.5)  ; 
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color:#000;
  line-height: 1.4;
}


h1,h2,h3 {
  line-height: 1.4;
}

h1 {
  font-size: 2.4em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-size: 1.8em;
  font-weight: 500;
}
h4 {
  font-size: 1.4em;
  font-weight: 500;
}
p, .skills-tools-list li{
  font-size: 1.4em;
  font-weight: 400;
}
img {
  width: 100%;
}

nav{
  display: inline-block;
  width: 100%;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a{
  color: #77ACF1;
  padding: 15px;
  text-decoration: none;
  margin:0 5px;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.2s;
}
nav > ul > li > a:hover, nav > ul > li > a:focus{
  color: #687EFF;
}
nav > ul > li > a:active{
  color: #687EFF;
}

#hero {
  padding: 20px 0;
  width: 100%;
}
#hero svg{
  width: 100%;
}
#project h1{
  text-align: center;
}

#hero h1 {
  text-align: center; /* Centers text */
}
#hero span {
  display: block;
}
#work h2{
  margin:0;
}
#work .container{
  display:flex;
  flex-direction: column;
  gap:4em;
}

#contact{
  background-color: #000;
  color:#ffffff;
  width:100%;
  text-align:center;
  padding:15px 0;
  margin-top:25px;
}

main {
  padding-top: 139.64px;
}
.container {
  padding: 0 15px;
}
.container::after {
  content: "";
  clear: both;
  display: table;
}
.logo {
  width: 5.5em;
  max-width: 250px;
}
.story-content, .skills-tools-list, .project-part{
  margin: 25px 0;
}
.button-social > svg{
  margin:0 10px;
  width:2.4em;
}
.button{
  display: inline-block;
  font-size: 1.4rem;
  border: 3px solid;
  border-color: #77ACF1;
  color:#77ACF1;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s;
  font-weight:500;
}
.button:visited{
  color:#77ACF1;
}
.button:focus,.button:hover{
  border: 3px solid;
  border-color: #687EFF;
  color:#687EFF;
}
.button:active{
  background-color: #687EFF;
  border: 3px solid;
  text-decoration:none;
  border-color: #687EFF;
  color: #ffffff;
}
.button-cv{
  display: inline-block;
  font-size: 1.4rem;
  border: 3px solid;
  border-color: #90D165;
  color:#90D165;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s;
  font-weight:500;
}
.button-cv:visited{
  color:#90D165;
}
.button-cv:focus,.button-cv:hover{
  border: 3px solid;
  border-color: #A6CB12;
  color:#A6CB12;
}
.button-cv:active{
  background-color: #A6CB12;
  border: 3px solid;
  text-decoration:none;
  border-color: #A6CB12;
  color: #ffffff;
}
.hero-pic-profile img{
 width:15em;
}
#starpurple, #stargreen{
  transform:scale(0.5);
}
#starpurple{
 
  transform: translate(0, -50%);
}
.hero-pic-profile{
  text-align: center;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.work-head{
  width:100%;
  text-align: center;
  display:flex;
  flex-direction: row;
  gap:4em;
  align-items: center;
  justify-content: center;
}
.work-project-pic img{
  border-radius: 10px;
}
.work-project{
  display: flex;
  flex-direction: column;
  gap:2em;
}
.work-project h3, .work-project p{
  margin:0;
}
.work-project-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:2em;
}

@keyframes stars{
  0% {
    transform:scale(0.5);
  }
  50% {
    transform:scale(1);
  }
  100%{
    transform:scale(0.5);
  }
}
 @keyframes move{
  0% { transform: translate(0,  -5px); }
    50%  { transform: translate(0, 0px); }
    100%   { transform: translate(0, -5px); }   
} 
@keyframes move2{
  0% { transform: translate(0,  5px); }
    50%  { transform: translate(0, 0px); }
    100%   { transform: translate(0, 5px); }   
} 

#pc, #big-pc, #mobile, #ipad{
  animation: move2 2s ease infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#AI, #CSS, #Figma, #JS, #ID, #AE, #HTML, #XD{
  animation: move 2s ease infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#star1, #star2{
  fill: #000;
  animation: stars 3s ease infinite;
  transform-origin: center;
  transform-box: fill-box;
}


@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  .main{
    padding-top:99px;
  }
  .button, .button-cv{
    font-size: 1.8rem;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-md-6 {
    padding: 10px;
    width: 50%;
  }
  [class*="col-"] {
    float: left;
  }
  #starpurple, #stargreen{
    transform:scale(1);
  }
  .hero-pic-profile img{
    width:30em;
   }
  .work-project{
    flex-direction: row;
    gap:4em;
  }
  .work-project-pic{
    width: 40%;
  }
  .work-project-content{
    width:60%;
  }
  .work-project-pic img{
    height: 100%;
    object-fit: cover;
  }

}
@media only screen and (min-width: 1024px) {
  .col-lg-5 {
    padding: 10px;
    width: 40%;
  }
  .col-lg-7{
    width: 60%;
  }
  [class*="col-"] {
    float: left;
  }
  .button, .button-cv{
    font-size: 1.8rem;
  }
  h1 {
    font-size: 3em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.4em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 2em;
    font-weight: 500;
  }
  h4 {
    font-size: 1.8em;
    font-weight: 400;
  }
  p, .skills-tools-list li {
    font-size: 1.8em;
    font-weight: 400;
  }

 
}
@media only screen and (min-width: 1440px) {
  .button, .button-cv{
    font-size: 2rem;
  }
  h1 {
    font-size: 4em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 3em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 2.5em;
    font-weight: 500;
  }
  h4 {
    font-size: 2em;
    font-weight: 400;
  }
  p, .skills-tools-list li {
    font-size: 1.8em;
    font-weight: 400;
  }
}
@media only screen and (min-width: 1920px) {
  .col-md-6 {
    padding: 10px;
    width: 60%;
  }
  [class*="col-"] {
    float: left;
  }
  .button, .button-cv{
    font-size: 2rem;
  }
  h1 {
    font-size: 4em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 3em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 2.5em;
    font-weight: 500;
  }
  h4 {
    font-size: 2em;
    font-weight: 400;
  }
  p, .skills-tools-list li {
    font-size: 1.8em;
    font-weight: 400;
  }

}



