html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {margin: 0;}
header {
  background-color:white;
  position: fixed;
  text-align: center;
  padding-block: 1em;
  /*this gives a little white line ------------*/
	width: 100%; 
	z-index:1;
}
header.scrolled{
  z-index: 11;
}
header.scrolled nav ul li a{
  color:#CDE378;
}
header.scrolled nav ul li a:hover{
  color:#A6CB12;

}
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color:#000;
  line-height: 1.4;
}


h1,h2,h3 {
  line-height: 1.4;
}

h1 {
  font-family: "Caladea", serif;
  font-weight: 700;
  font-size: 2.4em;
  font-style: normal;
  text-align: center;
}

h2 {
  font-family: "Caladea", serif;
  font-weight: 700;
  font-size: 2em;
  font-style: normal;
  overflow: hidden;
}

h3 {
  font-family: "Caladea", serif;
  font-weight: 700;
  font-size: 1.8em;
  font-style: normal;
}
h4{
  font-size: 1.4em;
  font-weight: 500;
}
span{
  font-size: 1em;
  font-weight: 300;
}

p, .skills-tools-list li{
  font-size: 1.4em;
  font-weight: 400;
}
img {
  width: 100%;
}

nav{
  display: inline-block;
  width: 100%;

}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li{
  display: none;
}
nav > ul > li > a{
  color: #77ACF1;
  padding: 15px;
  text-decoration: none;
  margin:0 5px;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.2s;
}
nav > ul > li > a:hover, nav > ul > li > a:focus{
  color: #687EFF;
}
nav > ul > li > a:active{
  color: #687EFF;
}
.navtoggle.responsive li  {
  display: block;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #77ACF1;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}
 a .icon {
  position: absolute;
  width: 30px;
  height: 30px;
  fill:#77ACF1;
  right: 16px;
  top: 24px;
  transition:0.5s;
}
a .icon :hover, a .icon :focus {
  fill:#687EFF;
}
#hero {
  padding: 20px 0;
  width: 100%;
}
#hero svg{
  width: 100%;
  height: 100%;
}
#intro h3{
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  margin-left:10px;
  float: left;
  
}
#intro svg{

  width: 60px;
  height:60px;
  margin:0;
  display: inline-block;
}
#intro img{
  visibility: hidden;
}
#intro span{
  font-family: "Caladea", serif;
  font-weight: 700;
  font-style: italic;
 
}

.intro-container{
  display: flex;
  margin: 15% 0;
  flex-direction: row-reverse;
  align-items: center;
}
#project h1{
  text-align: center;
}


#work h2{
  font-size: 1.5em;
  font-weight: 700;
  margin:0;
}
#work .container{
  display:flex;
  flex-direction: column;
  gap:4em;
}

#contact{
  background-color: #000;
  color:#ffffff;
  width:100%;
  text-align:center;
  padding:15px 0;
  margin-top:25px;
}

main {
  padding-top: 100px;
}
.container {
  padding: 0 15px;
}
.container::after {
  content: "";
  clear: both;
  display: table;
}
.logo {
  width: 5.5em;
  max-width: 250px;
}
.story-content, .skills-tools-list, .project-part{
  margin: 25px 0;
}
.button-email > svg{
  fill:#77ACF1;
  width:5em;
  transition: 1s;
  margin-bottom: 10px;
}
.button-email:hover > svg{
  fill:#687EFF;
}
.button-social > svg{
  margin:0 10px;
  width:2.4em;
}
.arrow{
  
  width:80%;
}

.arrow path{
  transition:all 1s;
}

.arrow:hover path {
  fill:white;
}
.arrow .bola{
  transform-origin: center;
  transition: all 1s; 
  transform:scale(0,0);

}
.arrow:hover .bola {
  
  transform:scale(1,1);
  
}



.button{
  display: inline-block;
  font-size: 1.4rem;
  border: 3px solid;
  border-color: #77ACF1;
  color:#77ACF1;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s;
  font-weight:500;
}
.button:visited{
  color:#77ACF1;
}
.button:focus,.button:hover{
  border: 3px solid;
  border-color: #687EFF;
  color:#687EFF;
}
.button:active{
  background-color: #687EFF;
  border: 3px solid;
  text-decoration:none;
  border-color: #687EFF;
  color: #ffffff;
}
.button-cv{
  display: inline-block;
  font-size: 1.4rem;
  border: 3px solid;
  border-color: #CDE378;
  color:#CDE378;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s;
  font-weight:500;
}
.button-cv:visited{
  color:#CDE378;
}
.button-cv:focus,.button-cv:hover{
  border: 3px solid;
  border-color: #A6CB12;
  color:#A6CB12;
}
.button-cv:active{
  background-color: #A6CB12;
  border: 3px solid;
  text-decoration:none;
  border-color: #A6CB12;
  color: #ffffff;
}
.hero-pic-profile{
  
  position: relative;
  display: grid; 
  justify-items: center;

}
.hero-pic-profile img{
 width:15em;
}

.purple{
  position: absolute;
  right: 60%;
  width: 60px;
  z-index: 10;
}
.green{
  position: absolute;
  top: 60%;
  left: 60%;
  width: 60px;
  z-index: 10;
}

.copyright{
  font-size: 1rem;
  font-weight: 400;
}

.work-head{
  width:100%;
  text-align: center;
  display:flex;
  flex-direction: row;
  gap:4em;
  align-items: center;
  justify-content: center;
}
.work-project-pic img{
  border-radius: 10px;
}
.project-part-description{
  overflow: hidden;
  margin-top: -20px;
}
.project-part-pic img{
  width: 100%;
  

}
.project-part-no-float img{
  width: 100%;
}
.project-part img{
  
  object-fit: cover;
  
  border-radius: 50px;
}
.line img{

  margin-left: 50px;
 
  width: 0.5em;
 
}
.pin img{
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  width: 7em;
}
.question img{
  margin-right: 20px;
  object-fit: cover;
  
}
.answer img{
  object-fit: cover;

}
.work-project{
  display: flex;
  flex-direction: column;
  gap:2em;
  margin-bottom:5em;
}

.project-part-tome {
   align-content: center;
}



.work-project h3, .work-project p{
  margin:0;
}

.work-project-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@keyframes stars{
  0% {
    transform:scale(0.4);
  }
  50% {
    transform:scale(0.6);
  }
  100%{
    transform:scale(0.4);
  }
}
.work-head, .work-project{
  animation: appear linear;
  animation-timeline: view();
  animation-range:entry 0% cover 40%;
}
@keyframes appear{
 from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }

}
.project-cover img{

  object-fit: cover;
  overflow: hidden;
  border-radius: 20px;
  transform: translateY(-10%);
 
}



#star1, #star2{
  fill: #000;
  animation: stars 3s ease infinite;
  transform-origin: center;
  transform-box: fill-box;
}


@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  h2{
    margin-bottom:0;
  }
  h3{
    margin: 24px 5px;
    margin-bottom: 0;
   
  }
  a .icon {
    display: none;
  }
  nav > ul > li{
    display: inline-block;
  }
  .purple, .green{
   width:100px;
  }
 
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  .main{
    padding-top:99px;
  }
  .button, .button-cv{
    font-size: 1.8rem;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-md-6 {
    padding: 10px;
    width: 50%;
  }
  [class*="col-"] {
    float: left;
  }
  #starpurple, #stargreen{
    transform:scale(1);
  }
  .hero-pic-profile img{
    width:30em;
   }
  .work-project{
    flex-direction: row;
    gap:4em;
  }
  .work-project-pic{
    width: 40%;
    transition:width 0.5s;
  }

  .work-project-content{
    width:60%;
   
  }

  .work-project-pic img{
    height: 100%;
    object-fit: cover;
  }
  .project-part-tome img{
    float: right;
    margin: 0px;
    object-fit: cover;
    width: 30%;
    shape-outside: circle();
    margin-top: -5%;
  }
  #intro img{
    visibility: visible;
  }


}
@media only screen and (min-width: 1024px) {
  .col-lg-5 {
    padding: 10px;
    width: 40%;
  }
  .col-lg-7{
    width: 60%;
  }
  [class*="col-"] {
    float: left;
  }
  .button, .button-cv{
    font-size: 1.8rem;
  }
  h1 {
    font-size: 3em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.4em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 2em;
  
  }
  h4 {
    font-size: 1.8em;
    font-weight: 400;
  }
  p, .skills-tools-list li {
    font-size: 1.4em;
    font-weight: 400;
  }
  #work h2{
    font-size: 2em;
  }
  .project-part img{
    float: right;
    margin-left: 20px;
    object-fit: cover;
    width: 40%;
    border-radius: 50px;
  }
  .question img{
    margin-right: 20px;
    object-fit: cover;
    width: 40%;
  }
  .answer img{
    margin-left: 50%;
    object-fit: cover;
    width: 40%;
  }
  .project-part-feat{
    display: flex;
    justify-content: center;
  }
  .project-part-feat img{
    max-height: 600px;
    object-fit: contain;
    margin-left: 10px;
  }
  .userStories{
    display:flex;
    width:33%;
  }
 
}
@media only screen and (min-width: 1440px) {
  .button, .button-cv{
    font-size: 2rem;
  }

}
@media only screen and (min-width: 1920px) {
  .col-md-6 {
    padding: 10px;
    width: 60%;
  }
  [class*="col-"] {
    float: left;
  }
  .button, .button-cv{
    font-size: 2rem;
  }
  h1 {
    font-size: 4em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 3em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 2.5em;
  
  }
  h4 {
    font-size: 2em;
    font-weight: 400;
  }
  p, .skills-tools-list li {
    font-size: 1.8em;
    font-weight: 400;
  }

}



